.gmail-2fa-code-copier-link {
  color: inherit !important;
  cursor: pointer;
  text-decoration: underline;
}

.gmail-2fa-code-copier-link:hover {
  color: inherit !important;
}

.gmail-2fa-code-copier-copied {
  color: inherit !important;
}
